.orangeAlert{
    color: orange !important; 
}

.redAlert {
    color: red !important;
}

.drop-box {
    width: 100%;
    height: 200px;
    border: 1px dashed #999;
    display: inline-block;
}

.subContents {
    margin-top: 10px;
}