<?xml version="1.0" encoding="utf-8"?>
<sabConfig>
  <modules>
    <module namespace="DConfigOS_Core" path="/bin/DConfigOS_Core.dll" configPath="/Config/DConfigOS_Core.config" viewsPath="~/Views/DConfigOS"></module>
    <module namespace="WebsiteManager" path="/bin/WebsiteManager.dll" configPath="/Config/WebsiteManager.config" viewsPath="~/Views/AppsViews/WebsiteManager"></module>
    <module namespace="FormsManager" path="/bin/FormsManager.dll" configPath="/Config/FormsManager.config" viewsPath="~/Views/AppsViews/FormsManager"></module>
    <module namespace="Gallery" path="/bin/Gallery.dll" configPath="/Config/Gallery.config" viewsPath="~/Views/AppsViews/Gallery"></module>
    <module namespace="ApplicationsManager" path="/bin/ApplicationsManager.dll" configPath="/Config/ApplicationsManager.config" viewsPath="~/Views/AppsViews/ApplicationsManager"></module>
    <module namespace="Membership" path="/bin/Membership.dll" configPath="/Config/Membership.config" viewsPath="~/Views/AppsViews/Membership" override="true" />
    <module namespace="CompetitiveAnalysis" path="/bin/CompetitiveAnalysis.dll" configPath="/Config/CompetitiveAnalysis.config" viewsPath="~/Views/AppsViews/CompetitiveAnalysis"></module>
  </modules>
  <routes>
    <route key="Default" pattern="{*path}">
      <defaults>
        <default key="controller" value="WebsiteContentAPI" optional="false"></default>
        <default key="action" value="renderContent" optional="false"></default>
      </defaults>
    </route>
  </routes>
  <settings>
    <settingsRecord key="RemoteUpdateServiceDomain" value="localhost:6077"></settingsRecord>
    <settingsRecord key="SystemDatabaseConnectionStringName" value="SystemDatastore"></settingsRecord>
    <settingsRecord key="LoginUrl" value="/Subscriptions/Login"></settingsRecord>
    <settingsRecord key="LogoutRedirect" value="/"></settingsRecord>
    <settingsRecord key="DConfigIsStartPage" value="true" />
	  <settingsRecord key="Domain" value="dconfig.com" />
    <settingsRecord key="LogoutAction" value="CustomRedirect" />
    <settingsRecord key="NotFoundPath" value="/Info/NotFound" />
    <settingsRecord key="ErrorPath" value="/Info/Error" />
    <settingsRecord key="UserBasedApps" value="False"></settingsRecord>
    <settingsRecord key="PublicDefaultLanguage" value="EN" />
    <settingsRecord key="CDN" value="" />
    <settingsRecord key="BLOB_STORAGE" value="" />
    <settingsRecord key="ErrorsEmail" value="" />
  </settings>
</sabConfig>