################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DConfig/bin
/ApplicationsManager/bin
/DConfigModule/bin
/DConfigOS_Core/bin
/ElasticSearchIndexBuilder/bin
/FormsManager/bin
/Gallery/bin
/Membership/bin
/NewslettersManager/bin
/NotificationsManager/bin
/OperationsManager/bin
/PaymentsManager/bin
/ProductsManager/bin
/SABFramework/bin
/WebsiteManager/bin
/SitemapGenerator/bin

/DConfig/obj
/ApplicationsManager/obj
/DConfigModule/obj
/DConfigOS_Core/obj
/ElasticSearchIndexBuilder/obj
/FormsManager/obj
/Gallery/obj
/Membership/obj
/NewslettersManager/obj
/NotificationsManager/obj
/OperationsManager/obj
/PaymentsManager/obj
/ProductsManager/obj
/SABFramework/obj
/WebsiteManager/obj
/SitemapGenerator/obj


/.vs
/.vs
/DConfigDashboard/ClientApp/projects/dconfig-core/node_modules
/packages
/.nuget
/_UpgradeReport_Files
/UpgradeLog.htm

/.vs/SABFramework/v15/Server/sqlite3/db.lock
/.vs/SABFramework/v15/Server/sqlite3/storage.ide
/.vs/SABFramework/v15/Server/sqlite3/storage.ide-shm
/.vs/SABFramework/v15/Server/sqlite3/storage.ide-wal