<?xml version="1.0" encoding="utf-8"?>
<sabConfig>
  <modules>
    <module namespace="SABFramework.PreDefinedModules.MembershipModule" path="" configPath="PreDefinedModules.MembershipModule.MembershipModule.config" builtIn="true"></module>
    <!--<module namespace="PreDefinedModules.AuditingModule" path="" configPath="PreDefinedModules.AuditingModule.AuditingModule.config" builtIn="true"></module>
    <module namespace="PreDefinedModules.RoleModule" path="" configPath="PreDefinedModules.RoleModule.RoleModule.config" builtIn="true"></module>-->
  </modules>
  <routes>
  </routes>
  <settings>
  </settings>
</sabConfig>