<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig initializer="MembershipInitializer">
  <controllers>
    <controller name="Membership" description="Membership App">
      <actions>
        <action name="authorize" requestType="Get" handlerTypeName="Actions.AuthorizeAction" description="Authorizing a call coming to another Backend project"></action>
        
        <action name="login" requestType="Post" handlerTypeName="Actions.LoginAction" description="Login"></action>
        <action name="logoff" requestType="Get" handlerTypeName="Actions.LogOffAction" redirectPath="/" description="Log off"></action>
        <action name="register" requestType="Post" handlerTypeName="Actions.RegisterAction" description="Register"></action>
        <action name="externallogin" requestType="Post" handlerTypeName="Actions.ExternalLoginAction" description="External Login"></action>
        <action name="externallogincallback" requestType="Get" handlerTypeName="Actions.ExternalLoginAction" description="External Login Callback"></action>
        <action name="confirmemail" requestType="Get" handlerTypeName="Actions.ConfirmEmailAction" description="Confirm Email"></action>
        <action name="forgetPassword" requestType="Put" handlerTypeName="Actions.ForgetPasswordAction" description="Forget password"></action>
        <action name="resetPasswordThroughEmail" requestType="Get" handlerTypeName="Actions.ResetPasswordThroughEmailAction" description="Reset Password Through Email"></action>
        <action name="resetPasswordThroughEmail" requestType="Post" handlerTypeName="Actions.ResetPasswordThroughEmailAction" description="Reset Password Through Email"></action>
        
        <action name="getusers" requestType="Get" handlerTypeName="Actions.GetUsersAction" description="Get Users"></action>
        <action name="getcompanyusers" requestType="Get" handlerTypeName="Actions.GetCompanyUsersAction" description="Get Company Users"></action>
        <action name="getusersbyname" requestType="Get" handlerTypeName="Actions.GetUsersByNameAction" description="Get Users By Name"></action>
        <action name="getUser" requestType="Get" handlerTypeName="Actions.CUDUsersAction" description="Get current user"></action>
        <action name="createuser" requestType="Post" handlerTypeName="Actions.CUDUsersAction" description="Create User"></action>
        <action name="updateuser" requestType="Put" handlerTypeName="Actions.CUDUsersAction" description="Update User"></action>
        <action name="resetPassword" requestType="Put" handlerTypeName="Actions.ResetPasswordAction" description="Reset Password"></action>
        <action name="deleteuser" requestType="Delete" handlerTypeName="Actions.CUDUsersAction" description="Delete User"></action>
        <action name="addUserToRole" requestType="Put" handlerTypeName="Actions.UDUsersRolesAction" description="Add User To Role"></action>
        <action name="removeUserFromRole" requestType="Delete" handlerTypeName="Actions.UDUsersRolesAction" description="Remove User From Role"></action>
        
        
        <action name="getroles" requestType="Get" handlerTypeName="Actions.GetRolesAction" description="Get Roles"></action>
        <action name="createrole" requestType="Post" handlerTypeName="Actions.CUDRolesAction" description="Create Role"></action>
        <action name="updaterole" requestType="Put" handlerTypeName="Actions.CUDRolesAction" description="Update Role"></action>
        <action name="deleterole" requestType="Delete" handlerTypeName="Actions.CUDRolesAction" description="Delete Role"></action>

        <action name="getPrivileges" requestType="Get" handlerTypeName="Actions.GetPrivilegesAction" description="Get Privileges"></action>
        <action name="createPrivilege" requestType="Post" handlerTypeName="Actions.CUDPrivilegesAction" description="Create Privilege"></action>
        <action name="updatePrivilege" requestType="Put" handlerTypeName="Actions.CUDPrivilegesAction" description="Update Privilege"></action>
        <action name="deletePrivilege" requestType="Delete" handlerTypeName="Actions.CUDPrivilegesAction" description="Delete Privilege"></action>
        <action name="addPrivilegeToRole" requestType="Put" handlerTypeName="Actions.UDPrivilegesRolesAction" description="Add Privilege To Role"></action>
        <action name="removePrivilegeFromRole" requestType="Delete" handlerTypeName="Actions.UDPrivilegesRolesAction" description="Remove Privilege From Role"></action>
        <action name="getSystemControllers" requestType="Get" handlerTypeName="Actions.GetSystemControllersAction" description="Get System Controllers"></action>

        <action name="getCompanies" requestType="Get" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Get Companies"></action>
        <action name="createCompany" requestType="Post" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Create Company"></action>
        <action name="updateCompany" requestType="Put" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Update Company"></action>
        <action name="deleteCompany" requestType="Delete" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Delete Company"></action>
        
        <action name="getUserCompanies" requestType="Get" handlerTypeName="Actions.GetUserCompaniesAction" viewPath="" redirectPath="" description="Get User Companies"></action>
        <action name="updateCompanyUsers" requestType="Put" handlerTypeName="Actions.UDCompanyUsers" viewPath="" redirectPath="" description="Update Company Users"></action>
        <action name="deleteCompanyUsers" requestType="Delete" handlerTypeName="Actions.UDCompanyUsers" viewPath="" redirectPath="" description="Delete Company Users"></action>

        <action name="setCurrentContext" requestType="Put" handlerTypeName="Actions.SetCurrentContextAction" viewPath="" redirectPath="" description="Set Current Company Context"></action>
      </actions>
    </controller>
  </controllers>
  <routes>
    <route key="accountRoutes" pattern="Membership/{action}/{id}">
      <defaults>
        <default key="controller" value="Membership" optional="false"></default>
        <default key="action" value="Index" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
  </routes>
</moduleConfig>
