<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig initializer="">
  <controllers>
    <controller name="ApplicationsManager" description="Applications Manager App">
      <actions>
        <action name="installedApps" requestType="Get" handlerTypeName="" viewPath="/InstalledApps.cshtml" redirectPath="" description="Installed Apps"></action>
        <action name="newInstallation" requestType="Get" handlerTypeName="" viewPath="/NewInstallation.cshtml" redirectPath="" description="New Installation"></action>
      </actions>
    </controller>
  </controllers>
  <routes>
    <route key="applicationsManager" pattern="DConfig/ApplicationsManager/{action}/{id}">
      <defaults>
        <default key="controller" value="ApplicationsManager" optional="false"></default>
        <default key="action" value="installedApps" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
  </routes>
</moduleConfig>
