<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig initializer="CompetitiveAnalysisInitializer">
  <controllers>
    <controller name="CompetitiveAnalysis" description="Competitive Analysis App">
      <actions>
        <action name="getPropertiesGroupsTree" requestType="Get" handlerTypeName="Actions.GetPropertiesGroupsTreeAction" viewPath="" redirectPath="" description="Get Properties Groups Tree"></action>
        <action name="getPropertiesGroups" requestType="Get" handlerTypeName="Actions.GetPropertiesGroupsAction" viewPath="" redirectPath="" description="Get Properties Groups"></action>
        <action name="createPropertiesGroup" requestType="Post" handlerTypeName="Actions.CUDPropertiesGroupsAction" viewPath="" redirectPath="" description="Create Properties Group"></action>
        <action name="updatePropertiesGroup" requestType="Put" handlerTypeName="Actions.CUDPropertiesGroupsAction" viewPath="" redirectPath="" description="Update Properties Group"></action>
        <action name="deletePropertiesGroup" requestType="Delete" handlerTypeName="Actions.CUDPropertiesGroupsAction" viewPath="" redirectPath="" description="Delete Properties Group"></action>
        <action name="updateGroupsOrdering" requestType="Put" handlerTypeName="Actions.UPropertiesGroupsOrderAction" viewPath="" redirectPath="" description="Update Groups Ordering"></action>
        
        <action name="updateGroupProperties" requestType="Put" handlerTypeName="Actions.UDPropertiesAction" viewPath="" redirectPath="" description="Update Group Properties"></action>
        <action name="deleteGroupProperty" requestType="Delete" handlerTypeName="Actions.UDPropertiesAction" viewPath="" redirectPath="" description="Delete Group Property"></action>
        <action name="getPropertiesTypes" requestType="Get" handlerTypeName="Actions.GetPropertiesTypesAction" viewPath="" redirectPath="" description="Get Properties Types"></action>
        
        <action name="getPropertyEnumsTree" requestType="Get" handlerTypeName="Actions.GetPropertiesEnumsTreeAction" viewPath="" redirectPath="" description="Get Property Enums Tree"></action>
        <action name="getPropertyEnums" requestType="Get" handlerTypeName="Actions.GetPropertiesEnumsAction" viewPath="" redirectPath="" description="Get Property Enums"></action>
        <action name="createPropertyEnum" requestType="Post" handlerTypeName="Actions.CUDPropertiesEnumsAction" viewPath="" redirectPath="" description="Create Property Enum"></action>
        <action name="updatePropertyEnum" requestType="Put" handlerTypeName="Actions.CUDPropertiesEnumsAction" viewPath="" redirectPath="" description="Update Property Enum"></action>
        <action name="deletePropertyEnum" requestType="Delete" handlerTypeName="Actions.CUDPropertiesEnumsAction" viewPath="" redirectPath="" description="Delete Property Enum"></action>
        <action name="updatePropertyEnumValues" requestType="Put" handlerTypeName="Actions.UDPropertiesEnumValuesAction" viewPath="" redirectPath="" description="Update Property Enum Values"></action>
        <action name="deletePropertyEnumValue" requestType="Delete" handlerTypeName="Actions.UDPropertiesEnumValuesAction" viewPath="" redirectPath="" description="Delete Property Enum Value"></action>

        <action name="getTemplatesTree" requestType="Get" handlerTypeName="Actions.GetTemplatesTreeAction" viewPath="" redirectPath="" description="Get Templates Tree"></action>
        <action name="getTemplates" requestType="Get" handlerTypeName="Actions.GetTemplatesAction" viewPath="" redirectPath="" description="Get Templates"></action>
        <action name="getProperties" requestType="Get" handlerTypeName="Actions.GetPropertiesAction" viewPath="" redirectPath="" description="Get Properties"></action>
        <action name="createProductsTemplate" requestType="Post" handlerTypeName="Actions.CUDProductsTemplatesAction" viewPath="" redirectPath="" description="Create Products Template"></action>
        <action name="updateProductsTemplate" requestType="Put" handlerTypeName="Actions.CUDProductsTemplatesAction" viewPath="" redirectPath="" description="Update Products Template"></action>
        <action name="deleteProductsTemplate" requestType="Delete" handlerTypeName="Actions.CUDProductsTemplatesAction" viewPath="" redirectPath="" description="Delete Products Template"></action>
        <action name="updateTemplateProperties" requestType="Put" handlerTypeName="Actions.UTemplatesPropertiesAction" viewPath="" redirectPath="" description="Update Template Properties"></action>
        
        <action name="getProductsTemplatesTree" requestType="Get" handlerTypeName="Actions.GetProductsTemplatesTreeAction" viewPath="" redirectPath="" description="Get Products Templates Tree"></action>
        <action name="getTemplateProductsTree" requestType="Get" handlerTypeName="Actions.GetTemplateProductsTreeAction" viewPath="" redirectPath="" description="Get Template Products Tree"></action>
        <action name="getTemplateProductsByPattern" requestType="Get" handlerTypeName="Actions.GetTemplateProductsByPatternAction" viewPath="" redirectPath="" description="Get Template Products By Pattern"></action>
        <action name="getTemplateProductsByFilters" requestType="Post" handlerTypeName="Actions.GetTemplateProductsByFiltersAction" viewPath="" redirectPath="" description="Get Template Products By Filters"></action>
        <action name="getProductsByIds" requestType="Post" handlerTypeName="Actions.GetProductsByIdsAction" viewPath="" redirectPath="" description="Get Products By Ids"></action>
        <action name="getProduct" requestType="Get" handlerTypeName="Actions.GetProductAction" viewPath="" redirectPath="" description="Get Product"></action>
        <action name="createProduct" requestType="Post" handlerTypeName="Actions.CUDProductsAction" viewPath="" redirectPath="" description="Create Product"></action>
        <action name="updateProduct" requestType="Put" handlerTypeName="Actions.CUDProductsAction" viewPath="" redirectPath="" description="Update Product"></action>
        <action name="deleteProduct" requestType="Delete" handlerTypeName="Actions.CUDProductsAction" viewPath="" redirectPath="" description="Delete Product"></action>
        <action name="updateProductPropertiesValues" requestType="Put" handlerTypeName="Actions.UProductPropertiesValues" viewPath="" redirectPath="" description="Update Product Properties Values"></action>
        <action name="updateProductPrices" requestType="Put" handlerTypeName="Actions.UDProductPricesAction" viewPath="" redirectPath="" description="Update Product Prices"></action>
        <action name="deleteProductPrice" requestType="Delete" handlerTypeName="Actions.UDProductPricesAction" viewPath="" redirectPath="" description="Delete Product Price"></action>
        <action name="getTemplate" requestType="Get" handlerTypeName="Actions.GetTemplateAction" viewPath="" redirectPath="" description="Get Template"></action>
        <action name="updateProductTags" requestType="Put" handlerTypeName="Actions.UProductTags" viewPath="" redirectPath="" description="Update Product Tags"></action>
        <action name="getProductsTags" requestType="Get" handlerTypeName="Actions.GetProductsTagsAction" viewPath="" redirectPath="" description="Get Products Tags"></action>
        <action name="importProductsFromExcel" requestType="Post" handlerTypeName="Actions.ImportProductsFromExcelAction" viewPath="" redirectPath="" description="Import products from excel file"></action>
        <action name="importProductsImagesFromZip" requestType="Post" handlerTypeName="Actions.ImportProductsImagesFromZipAction" viewPath="" redirectPath="" description="Import products images from zip file"></action>

        <action name="getComparisons" requestType="Get" handlerTypeName="Actions.GetComparisonsAction" viewPath="" redirectPath="" description="Get Comparisons"></action>
        <action name="createComparison" requestType="Post" handlerTypeName="Actions.CUDComparisonsAction" viewPath="" redirectPath="" description="Create Comparison"></action>
        <action name="updateComparison" requestType="Put" handlerTypeName="Actions.CUDComparisonsAction" viewPath="" redirectPath="" description="Update Comparison"></action>
        <action name="deleteComparison" requestType="Delete" handlerTypeName="Actions.CUDComparisonsAction" viewPath="" redirectPath="" description="Delete Comparison"></action>
        <action name="updateComparisonProducts" requestType="Put" handlerTypeName="Actions.UComparisonProductsAction" viewPath="" redirectPath="" description="Update Comparison Products"></action>
        
        <action name="getAdvancedPrivileges" requestType="Get" handlerTypeName="Actions.GetAdvancedPrivilegesAction" viewPath="" redirectPath="" description="Get Advanced Privileges"></action>
        <action name="createAdvancedPrivilege" requestType="Post" handlerTypeName="Actions.CUDAdvancedPrivilegesAction" viewPath="" redirectPath="" description="Create Advanced Privilege"></action>
        <action name="updateAdvancedPrivilege" requestType="Put" handlerTypeName="Actions.CUDAdvancedPrivilegesAction" viewPath="" redirectPath="" description="Update Advanced Privilege"></action>
        <action name="deleteAdvancedPrivilege" requestType="Delete" handlerTypeName="Actions.CUDAdvancedPrivilegesAction" viewPath="" redirectPath="" description="Delete Advanced Privilege"></action>
        
        <action name="products" requestType="Get" handlerTypeName="" viewPath="/Products.cshtml" redirectPath="" description="Products Page"></action>
        <action name="comparison" requestType="Get" handlerTypeName="" viewPath="/Comparison.cshtml" redirectPath="" description="Comparison Page"></action>
        <action name="properties" requestType="Get" handlerTypeName="" viewPath="/Properties.cshtml" redirectPath="" description="Properties Page"></action>
        <action name="predefinedLists" requestType="Get" handlerTypeName="" viewPath="/PredefinedLists.cshtml" redirectPath="" description="Predefined Lists Page"></action>
        <action name="templates" requestType="Get" handlerTypeName="" viewPath="/Templates.cshtml" redirectPath="" description="Templates Page"></action>
        <action name="advancedPrivileges" requestType="Get" handlerTypeName="" viewPath="/AdvancedPrivileges.cshtml" redirectPath="" description="Advaanced Privileges Page"></action>
        
        <action name="renderComparison" requestType="Get" handlerTypeName="Actions.RenderComparisonAction" viewPath="/RenderComparison.cshtml" redirectPath="" description="Render Comparison"></action>
        <action name="renderProductDetails" requestType="Get" handlerTypeName="Actions.RenderProductDetailsAction" viewPath="/RenderProductDetails.cshtml" redirectPath="" description="Render Product Details"></action>

        <action name="registerProductView" requestType="Post" handlerTypeName="Actions.CUserProductViewAction" viewPath="" redirectPath="" description="Register Product View"></action>
        <action name="getMostViewedTypes" requestType="Get" handlerTypeName="Actions.GetMostViewedTypesAction" viewPath="" redirectPath="" description="Get Most Viewed Types"></action>
        <action name="getMostViewedBrands" requestType="Get" handlerTypeName="Actions.GetMostViewedBrandsAction" viewPath="" redirectPath="" description="Get Most Viewed Brands"></action>
      </actions>
    </controller>
  </controllers>
  <routes>
    <route key="competitiveAnalysis" pattern="DConfig/CompetitiveAnalysis/{action}/{id}">
      <defaults>
        <default key="controller" value="CompetitiveAnalysis" optional="false"></default>
        <default key="action" value="products" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
      <route key="competitiveAnalysisProductSharing" pattern="_CAPD/{id}">
      <defaults>
        <default key="controller" value="CompetitiveAnalysis" optional="false"></default>
        <default key="action" value="renderProductDetails" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="competitiveAnalysisReportSharing" pattern="_CAC/{id}">
      <defaults>
        <default key="controller" value="CompetitiveAnalysis" optional="false"></default>
        <default key="action" value="renderComparison" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
  </routes>
</moduleConfig>
