<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig initializer="DConfigOSInitializer">
  <controllers>
    <controller name="Account" description="Account">
      <actions>
        <action name="index" requestType="Get" handlerTypeName="" viewPath="/Account/AccountLayout.cshtml" redirectPath="" description="Index Page"></action>
        <action name="login" requestType="Get" handlerTypeName="" viewPath="/Account/login.cshtml" redirectPath="" description="Login Page"></action>
        <action name="register" requestType="Get" handlerTypeName="" viewPath="/Account/register.cshtml" redirectPath="" description="Register Page"></action>
        <action name="forgotten" requestType="Get" handlerTypeName="" viewPath="/Account/Forgotten.cshtml" redirectPath="" description="Password forgotten Page"></action>
        <action name="resetpassword" requestType="Get" handlerTypeName="" viewPath="/Account/Resetpassword.cshtml" redirectPath="" description="Reset Password Page"></action>
      </actions>
    </controller>
    <controller name="Explorer" description="Explorer">
      <actions>
        <action name="index" requestType="Get" handlerTypeName="" viewPath="/Explorer/ExplorerLayout.cshtml" redirectPath="" description="Explorer Layout"></action>
        <action name="desktop" requestType="Get" handlerTypeName="" viewPath="/Explorer/desktop.cshtml" redirectPath="" description="Dashboard Page"></action>
        <action name="appsmenu" requestType="Get" handlerTypeName="" viewPath="/Explorer/appsmenu.cshtml" redirectPath="" description="AppsMenu Page"></action>
        <action name="settings" requestType="Get" handlerTypeName="" viewPath="/Explorer/settings.cshtml" redirectPath="" description="Settings Page"></action>
        <action name="runapp" requestType="Get" handlerTypeName="" viewPath="/Explorer/RunApp.cshtml" redirectPath="" description="Run App Page"></action>
        <action name="notfound" requestType="Get" handlerTypeName="" viewPath="/Explorer/NotFound.cshtml" redirectPath="" description="Not Found Page"></action>
      </actions>
    </controller>
    <controller name="AppsAPI" description="Apps API">
      <actions>
        <action name="getapps" requestType="Get" handlerTypeName="Layer2.AppsServices.AppsAction" viewPath="" redirectPath="" description="Get Apps"></action>
        <action name="getallapps" requestType="Get" handlerTypeName="Layer2.AppsServices.AllAppsAction" viewPath="" redirectPath="" description="Get Apps"></action>
        <action name="updateAppRoles" requestType="Put" handlerTypeName="Layer2.AppsServices.UAppsRoles" viewPath="" redirectPath="" description="Update App Roles"></action>
        <action name="getwidgets" requestType="Get" handlerTypeName="Layer2.AppsServices.WidgetsAction" viewPath="" redirectPath="" description="Get Widgets"></action>
        <action name="getdesktopwidgets" requestType="Get" handlerTypeName="Layer2.AppsServices.DesktopWidgetsAction" viewPath="" redirectPath="" description="Get Desktop Widgets"></action>
        <action name="appscripts" requestType="Get" handlerTypeName="Layer2.AppsServices.AppScriptsFileAction" viewPath="" redirectPath="" description="Get App Scripts"></action>
        <action name="appstyles" requestType="Get" handlerTypeName="Layer2.AppsServices.AppStylesFileAction" viewPath="" redirectPath="" description="Get App Styles"></action>
        <action name="appextentionscripts" requestType="Get" handlerTypeName="Layer2.AppsServices.AppExtentionScriptsFileAction" viewPath="" redirectPath="" description="Get App Extention Scripts"></action>
        <action name="appextentionview" requestType="Get" handlerTypeName="Layer2.AppsServices.AppExtentionViewAction" viewPath="" redirectPath="" description="Get App Extention View"></action>
        <action name="intentExtentions" requestType="Get" handlerTypeName="Layer2.AppsServices.IntentExtentionsAction" viewPath="" redirectPath="" description="Get Intent Extentions"></action>
        <action name="uninstallApp" requestType="Get" handlerTypeName="Layer2.AppsServices.UninstallAppAction" viewPath="" redirectPath="" description="Uninstall App"></action>
        <action name="checkAppUpdates" requestType="Get" handlerTypeName="Layer2.AppsServices.CheckAppUpdates" viewPath="" redirectPath="" description="Check App Updates"></action>
        <action name="getAppVersionMetadata" requestType="Get" handlerTypeName="Layer2.AppsServices.GetAppVersionMetaDataAction" viewPath="" redirectPath="" description="Get App Version Meta data"></action>
        <action name="updateAppVersion" requestType="Get" handlerTypeName="Layer2.AppsServices.UpdateAppVersonFileAction" viewPath="" redirectPath="" description="Update App Version"></action>
      </actions>
    </controller>
    <controller name="CoreAPI" description="Core API">
      <actions>
        <action name="checkUpdates" requestType="Get" handlerTypeName="Layer2.CoreServices.CheckUpdatesAction" viewPath="" redirectPath="" description="Check Updates"></action>
        <action name="upgrade" requestType="Get" handlerTypeName="Layer2.CoreServices.UpgradeAction" viewPath="" redirectPath="" description="Upgrade"></action>
      </actions>
    </controller>
    <controller name="WebsiteContentAPI" description="Website Content API">
      
      <actions>
        <action name="getquickcontentslist" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetQuickContentList" viewPath="" redirectPath="" description="Get Quick Contents List"></action>
        <action name="getcontentsTree" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentsTreeAction" viewPath="" redirectPath="" description="Get Contents Tree"></action>
        <action name="getcontentslisttreeaction" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentsListTreeAction" viewPath="" redirectPath="" description="Get Contents List Tree Action"></action>
        <action name="getcontentchildren" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentsChildrenAction" viewPath="" redirectPath="" description="Get Content Children"></action>
        <action name="getcontentchildrenCount" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentsChildrenCountAction" viewPath="" redirectPath="" description="Get Content Children Count"></action>
        <action name="getcontentinstances" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentInstancesAction" viewPath="" redirectPath="" description="Get Content Instances"></action>
        <action name="getcontentinstancesForPrevVersions" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentInstancesForPrevVersionsAction" viewPath="" redirectPath="" description="Get Content Instances with version lower than the current version"></action>
        <action name="getcontentinstanceFieldsValues" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentInstancesFieldsValuesAction" viewPath="" redirectPath="" description="Get Content Instance Fields Values"></action>

        <action name="getContentsByViewType" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentsByViewTypeAction" viewPath="" redirectPath="" description="Get Content by View Type"></action>
        <action name="getContentsByViewTypeByQuery" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetContentsByViewTypeByQueryAction" viewPath="" redirectPath="" description="Get Content by View Type by Query"></action>
        
        <action name="createContent" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDContentsAction" viewPath="" redirectPath="" description="Create Content"></action>
        <action name="updateContent" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDContentsAction" viewPath="" redirectPath="" description="Update Content"></action>
        <action name="deleteContent" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDContentsAction" viewPath="" redirectPath="" description="Delete Content"></action>
        <action name="createContentInstance" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDContentInstancesAction" viewPath="" redirectPath="" description="Create Content Instance"></action>
        <action name="updateContentInstance" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDContentInstancesAction" viewPath="" redirectPath="" description="Update Content Instance"></action>
        <action name="deleteContentInstance" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDContentInstancesAction" viewPath="" redirectPath="" description="Delete Content Instance"></action>
        <action name="updateContentparent" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UContentParentAction" viewPath="" redirectPath="" description="Update Content Parent"></action>
        <action name="updateContentInstanceParent" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UContentInstanceParentAction" viewPath=""  redirectPath="" description="Update Content Instance Parent"></action>
        <action name="updateContentInstanceFieldValues" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UContentFieldsValuesAction" viewPath=""  redirectPath="" description="Update Content Instance Field Values"></action>
        <action name="updateContentInstanceFieldValue" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UContentFieldValueAction" viewPath="" redirectPath="" description="Update Content Instance Field Value"></action>
        <action name="updateContentsOrdering" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UContentsOrderAction" viewPath="" redirectPath="" description="Update Contents Ordering"></action>
        <action name="updateScriptsOrdering" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UScriptsOrderAction" viewPath="" redirectPath="" description="Update Scripts Ordering"></action>
        <action name="updateStylesOrdering" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UStylesOrderAction" viewPath="" redirectPath="" description="Update Styles Ordering"></action>
        <action name="addDomainToContent" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UDContentDomainsAction" viewPath="" redirectPath="" description="Add Domain To Content"></action>
        <action name="removeDomainFromContent" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.UDContentDomainsAction" viewPath="" redirectPath="" description="Remove Domain From Content"></action>

        <action name="activateContent" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.ActivateContentAction" viewPath="/Notifications/Message.cshtml" redirectPath="" description="Activate Content"></action>
        <action name="deactivateContent" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.DeactivateContentAction" viewPath="" redirectPath="" description="Deactivate Content"></action>
        
        <action name="cloneContent" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CContentCloneAction" viewPath="" redirectPath="" description="Clone Content"></action>
        <action name="cloneContentInstance" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CContentInstanceCloneAction" viewPath="" redirectPath="" description="Clone Content Instance"></action>
        
        <action name="renderContent" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.RenderContentAction" viewPath="" redirectPath="" description="Render Content"></action>
        <action name="renderEditableContent" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.RenderEditableContentAction" viewPath="" redirectPath="" description="Render Editable Content"></action>
        <action name="renderScriptsTag" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.RenderScriptsTagAction" viewPath="" redirectPath="" description="Render Scripts Tag"></action>
        <action name="renderStylesTag" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.RenderStylesTagAction" viewPath="" redirectPath="" description="Render Styles Tag"></action>
        <action name="renderContentPartialChildren" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.RenderContentPartialChildrenAction" viewPath="" redirectPath="" description="Render Content Partial Children"></action>

        <action name="getSitemap" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetSitemapAction" viewPath="" redirectPath="" description="Get sitemap"></action>
        <action name="generateSitemap" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.GenerateSitemapAction" viewPath="" redirectPath="" description="Generate sitemap"></action>
        
        <action name="getTemplatesTree" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetTemplatesTreeAction" viewPath="" redirectPath="" description="Get Templates Tree"></action>
        <action name="getTemplates" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetTemplatesAction" viewPath="" redirectPath="" description="Get Templates"></action>
        <action name="getTemplateView" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.URTemplateViewAction" viewPath="" redirectPath="" description="Get Template View"></action>
        <action name="updateTemplateView" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.URTemplateViewAction" viewPath="" redirectPath="" description="Update Template View"></action>
        <action name="createTemplate" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDTemplatesAction" viewPath="" redirectPath="" description="Create Template"></action>
        <action name="createTemplateClone" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CTemplateCloneAction" viewPath="" redirectPath="" description="Create Template Clone"></action>
        <action name="updateTemplate" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDTemplatesAction" viewPath="" redirectPath="" description="Update Template"></action>
        <action name="deleteTemplate" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDTemplatesAction" viewPath="" redirectPath="" description="Delete Template"></action>
        <action name="updateTemplateLayout" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UTemplateLayoutAction" viewPath="" redirectPath="" description="Update Template Layout"></action>
        <action name="getRootTemplates" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetRootViewTemplatesAction" viewPath="" redirectPath="" description="Get Root Templates"></action>
        <action name="getRootViewTypes" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetRootViewTypesAction" viewPath="" redirectPath="" description="Get Root View Types"></action>
        <action name="getViewTypes" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewTypesAction" viewPath="" redirectPath="" description="Get View Types"></action>

        <action name="getScriptsTree" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetScriptsTreeAction" viewPath="" redirectPath="" description="Get Scripts Tree"></action>
        <action name="getScripts" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetScriptsAction" viewPath="" redirectPath="" description="Get Scripts"></action>
        <action name="getScriptCode" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.URScriptCodeAction" viewPath="" redirectPath="" description="Get Script Code"></action>
        <action name="updateScriptCode" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.URScriptCodeAction" viewPath="" redirectPath="" description="Update Script Code"></action>
        <action name="createScript" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDScriptsAction" viewPath="" redirectPath="" description="Create Script"></action>
        <action name="updateScript" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDScriptsAction" viewPath="" redirectPath="" description="Update Script"></action>
        <action name="deleteScript" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDScriptsAction" viewPath="" redirectPath="" description="Delete Script"></action>

        <action name="getStylesTree" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetStylesTreeAction" viewPath="" redirectPath="" description="Get Styles Tree"></action>
        <action name="getStyles" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetStylesAction" viewPath="" redirectPath="" description="Get Styles"></action>
        <action name="getStyleCode" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.URStyleCodeAction" viewPath="" redirectPath="" description="Get Style Code"></action>
        <action name="updateStyleCode" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.URStyleCodeAction" viewPath="" redirectPath="" description="Update Style Code"></action>
        <action name="createStyle" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDStylesAction" viewPath="" redirectPath="" description="Create Style"></action>
        <action name="updateStyle" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDStylesAction" viewPath="" redirectPath="" description="Update Style"></action>
        <action name="deleteStyle" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDStylesAction" viewPath="" redirectPath="" description="Delete Style"></action>

        <action name="getScriptsBundles" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetScriptsBundlesAction" viewPath="" redirectPath="" description="Get Scripts Bundles"></action>
        <action name="createScriptsBundle" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDScriptsBundlesAction" viewPath="" redirectPath="" description="Create Scripts Bundle"></action>
        <action name="updateScriptsBundle" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDScriptsBundlesAction" viewPath="" redirectPath="" description="Update Scripts Bundle"></action>
        <action name="deleteScriptsBundle" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDScriptsBundlesAction" viewPath="" redirectPath="" description="Delete Scripts Bundle"></action>

        <action name="getStylesBundles" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetStylesBundlesAction" viewPath="" redirectPath="" description="Get Styles Bundles"></action>
        <action name="createStylesBundle" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDStylesBundlesAction" viewPath="" redirectPath="" description="Create Styles Bundle"></action>
        <action name="updateStylesBundle" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDStylesBundlesAction" viewPath="" redirectPath="" description="Update Styles Bundle"></action>
        <action name="deleteStylesBundle" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDStylesBundlesAction" viewPath="" redirectPath="" description="Delete Styles Bundle"></action>

        <action name="getViewTypesTree" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewTypesTreeAction" viewPath="" redirectPath="" description="Get View Types Tree"></action>
        <action name="createViewType" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDViewTypesAction" viewPath="" redirectPath="" description="Create View Type"></action>
        <action name="updateViewType" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDViewTypesAction" viewPath="" redirectPath="" description="Update View Type"></action>
        <action name="deleteViewType" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDViewTypesAction" viewPath="" redirectPath="" description="Delete View Type"></action>
        <action name="updateViewTypeFields" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UDViewTypeFieldsAction" viewPath="" redirectPath="" description="Update View Type Fields"></action>
        <action name="deleteViewTypeField" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.UDViewTypeFieldsAction" viewPath="" redirectPath="" description="Delete View Type Field"></action>
        <action name="getTemplateViewTypeFields" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetTemplateViewTypeFieldsAction" viewPath="" redirectPath="" description="Get Template View Type Fields"></action>
        <action name="getViewFieldTypes" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewFieldTypesAction" viewPath="" redirectPath="" description="Get View Field Types"></action>
        <action name="getViewTypeChildren" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewTypesChildrenAction" viewPath="" redirectPath="" description="Get View Type Children"></action>
        <action name="updateViewTypeChildren" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UViewTypeChildrenAction" viewPath="" redirectPath="" description="Update View Type Children"></action>

        <action name="getStages" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetStagesAction" viewPath="" redirectPath="" description="Get Stages"></action>
        <action name="getStageRoles" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetStageRolesAction" viewPath="" redirectPath="" description="Get Stage Roles"></action>
        <action name="getStagesbyRole" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetStagesbyRoleAction" viewPath="" redirectPath="" description="Get Stages by Role"></action>
        <action name="createStage" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDStagesAction" viewPath="" redirectPath="" description="Create Stage"></action>
        <action name="updateStage" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDStagesAction" viewPath="" redirectPath="" description="Update Stage"></action>
        <action name="deleteStage" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDStagesAction" viewPath="" redirectPath="" description="Delete Stage"></action>            
        <action name="getNextStages" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetNextStagesAction" viewPath="" redirectPath="" description="Get Next Stages"></action>        
        <action name="updateNextStages" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UNextStagesAction" viewPath="" redirectPath="" description="Update Next Stages"></action>
        <action name="stagingContentInstance" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UContentInstanceStageAction" viewPath="" redirectPath="" description="Update Content Instance Stage"></action>
        <action name="addStageToRole" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UDStageRolesAction" viewPath="" redirectPath="" description="Add Role to Stage"></action>
        <action name="removeStageFromRole" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.UDStageRolesAction" viewPath="" redirectPath="" description="Remove Role form Stage"></action>

        <action name="getViewFieldsEnumsTree" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewFieldsEnumsTreeAction" viewPath="" redirectPath="" description="Get View Fields Enums Tree"></action>
        <action name="getViewFieldsEnums" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewFieldsEnumsAction" viewPath="" redirectPath="" description="Get View Fields Enums"></action>
        <action name="getViewFieldsEnumValueById" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewFieldsEnumValueByIdAction" viewPath="" redirectPath="" description="Get View Fields Enum Value by Id"></action>
        <action name="getViewFieldsEnumValuesById" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewFieldsEnumValuesByIdAction" viewPath="" redirectPath="" description="Get View Fields Enum Values by Id"></action>
        <action name="createViewFieldsEnum" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUDViewFieldsEnumsAction" viewPath="" redirectPath="" description="Create View Fields Enum"></action>
        <action name="updateViewFieldsEnum" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUDViewFieldsEnumsAction" viewPath="" redirectPath="" description="Update View Fields Enum"></action>
        <action name="deleteViewFieldsEnum" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.CUDViewFieldsEnumsAction" viewPath="" redirectPath="" description="Delete View Fields Enum"></action>

        <action name="createViewFieldsEnumValue" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.CUViewFieldsEnumValueAction" viewPath="" redirectPath="" description="Create View Fields Enum Value"></action>
        <action name="updateViewFieldsEnumValue" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.CUViewFieldsEnumValueAction" viewPath="" redirectPath="" description="Update View Fields Enum Value"></action>      
        
        <action name="updateViewFieldsEnumValues" requestType="Put" handlerTypeName="Layer2.WebsiteContentServices.UDViewFieldsEnumValuesAction" viewPath="" redirectPath="" description="Update View Fields Enum Values"></action>
        <action name="deleteViewFieldsEnumValue" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.UDViewFieldsEnumValuesAction" viewPath="" redirectPath="" description="Delete View Fields Enum Value"></action>
        <action name="deleteViewFieldsEnumValues" requestType="Delete" handlerTypeName="Layer2.WebsiteContentServices.UDViewFieldsEnumValuesAction" viewPath="" redirectPath="" description="Delete View Fields Enum Values"></action>
        <action name="getViewFieldsEnumValues" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.GetViewFieldsEnumValuesAction" viewPath="" redirectPath="" description="Get View Fields Enum Values"></action>

        <action name="importContentsFromExcel" requestType="Post" handlerTypeName="Layer2.WebsiteContentServices.ImportContentsFromExcelAction" viewPath="" redirectPath="" description="Import contents from excel file"></action>
        <action name="exportTemplateExcel" requestType="Get" handlerTypeName="Layer2.WebsiteContentServices.ExportTemplateExcelAction" viewPath="" redirectPath="" description="Export Template as excel file"></action>

      </actions>
    </controller>
    <controller name="FormsAPI" description="Forms API">
      <actions>
        <action name="getFormsTree" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormsTreeAction" viewPath="" redirectPath="" description="Get Forms Tree"></action>
        <action name="getRootForms" requestType="Get" handlerTypeName="Layer2.FormsServices.GetRootFormsAction" viewPath="" redirectPath="" description="Get Root Forms"></action>
        <action name="getForms" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormsAction" viewPath="" redirectPath="" description="Get Forms"></action>
        <action name="createForm" requestType="Post" handlerTypeName="Layer2.FormsServices.CUDFormsAction" viewPath="" redirectPath="" description="Create Form"></action>
        <action name="updateForm" requestType="Put" handlerTypeName="Layer2.FormsServices.CUDFormsAction" viewPath="" redirectPath="" description="Update Form"></action>
        <action name="deleteForm" requestType="Delete" handlerTypeName="Layer2.FormsServices.CUDFormsAction" viewPath="" redirectPath="" description="Delete Form"></action>
        <action name="getFormTypes" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormTypesAction" viewPath="" redirectPath="" description="Get Form Types"></action>

        <action name="updateFormFields" requestType="Put" handlerTypeName="Layer2.FormsServices.UDFormFieldsAction" viewPath="" redirectPath="" description="Update Form Fields"></action>
        <action name="deleteFormField" requestType="Delete" handlerTypeName="Layer2.FormsServices.UDFormFieldsAction" viewPath="" redirectPath="" description="Delete Form Field"></action>
        <action name="getFormFieldTypes" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormFieldTypesAction" viewPath="" redirectPath="" description="Get Form Field Types"></action>

        <action name="RenderForm" requestType="Get" handlerTypeName="Layer2.FormsServices.RenderFormAction" viewPath="" redirectPath="" description="Render Form (Get)"></action>
        <action name="RenderForm" requestType="Post" handlerTypeName="Layer2.FormsServices.RenderFormAction" viewPath="" redirectPath="" description="Render Form"></action>
        <action name="SubmitForm" requestType="Post" handlerTypeName="Layer2.FormsServices.FormSubmitAction" viewPath="" redirectPath="" description="Submit Form"></action>
        <action name="SubmitForm" requestType="Get" handlerTypeName="Layer2.FormsServices.FormSubmitAction" viewPath="" redirectPath="" description="Submit Form (Get)"></action>

        <action name="getFormsFieldsEnumsTree" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormsFieldsEnumsTreeAction" viewPath="" redirectPath="" description="Get Forms Fields Enums Tree"></action>
        <action name="getFormsFieldsEnums" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormsFieldsEnumsAction" viewPath="" redirectPath="" description="Get Forms Fields Enums"></action>
        <action name="createFormsFieldsEnum" requestType="Post" handlerTypeName="Layer2.FormsServices.CUDFormsFieldsEnumsAction" viewPath="" redirectPath="" description="Create Forms Fields Enum"></action>
        <action name="updateFormsFieldsEnum" requestType="Put" handlerTypeName="Layer2.FormsServices.CUDFormsFieldsEnumsAction" viewPath="" redirectPath="" description="Update Forms Fields Enum"></action>
        <action name="deleteFormsFieldsEnum" requestType="Delete" handlerTypeName="Layer2.FormsServices.CUDFormsFieldsEnumsAction" viewPath="" redirectPath="" description="Delete Forms Fields Enum"></action>
        <action name="updateFormsFieldsEnumValues" requestType="Put" handlerTypeName="Layer2.FormsServices.UDFormsFieldsEnumValuesAction" viewPath="" redirectPath="" description="Update Forms Fields Enum Values"></action>
        <action name="deleteFormsFieldsEnumValue" requestType="Delete" handlerTypeName="Layer2.FormsServices.UDFormsFieldsEnumValuesAction" viewPath="" redirectPath="" description="Delete Forms Fields Enum Value"></action>

        <action name="getRootFormsTree" requestType="Get" handlerTypeName="Layer2.FormsServices.GetRootFormsTree" viewPath="" redirectPath="" description="Get Root Forms Tree"></action>
        <action name="getFormInstances" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormsInstancesAction" viewPath="" redirectPath="" description="Get Form Instances"></action>
        <action name="updateFormInstance" requestType="Put" handlerTypeName="Layer2.FormsServices.UDFormInstancesAction" viewPath="" redirectPath="" description="Update Form Instance"></action>
        <action name="deleteFormInstance" requestType="Delete" handlerTypeName="Layer2.FormsServices.UDFormInstancesAction" viewPath="" redirectPath="" description="Delete Form Instance"></action>

        <action name="getFormSubmitEventsTree" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormSubmitEventsTreeAction" viewPath="" redirectPath="" description="Get Form Submit Events Tree"></action>
        <action name="getFormSubmitEventsTypes" requestType="Get" handlerTypeName="Layer2.FormsServices.GetFormSubmitEventsTypesAction" viewPath="" redirectPath="" description="Get Form Submit Events Types"></action>
        <action name="createFormSubmitEmailEvent" requestType="Post" handlerTypeName="Layer2.FormsServices.CUDFormSubmitEmailEventsAction" viewPath="" redirectPath="" description="Create Form Submit Email Event"></action>
        <action name="updateFormSubmitEmailEvent" requestType="Put" handlerTypeName="Layer2.FormsServices.CUDFormSubmitEmailEventsAction" viewPath="" redirectPath="" description="Update Form Submit Email Event"></action>
        <action name="deleteFormSubmitEmailEvent" requestType="Delete" handlerTypeName="Layer2.FormsServices.CUDFormSubmitEmailEventsAction" viewPath="" redirectPath="" description="Delete Form Submit Email Event"></action>

        <action name="SubmitFormField" requestType="Post" handlerTypeName="Layer2.FormsServices.FormSubmitFieldValueAction" viewPath="" redirectPath="" description="Submit Form Field"></action>

        <action name="PrintForm" requestType="Get" handlerTypeName="Layer2.FormsServices.RenderFormPrintVersionAction" viewPath="" redirectPath="" description="Print Form"></action>
        
      </actions>
    </controller>
    <controller name="IOServicesAPI" description="IO Services API">
      <actions>
        <action name="getFoldersTree" requestType="Get" handlerTypeName="Layer2.IOServices.GetResourcesFoldersTreeAction" viewPath="" redirectPath="" description="Get Folders Tree"></action>
        <action name="createFolder" requestType="Post" handlerTypeName="Layer2.IOServices.CUDResourcesFoldersAction" viewPath="" redirectPath="" description="Create Folder"></action>
        <action name="updateFolder" requestType="Put" handlerTypeName="Layer2.IOServices.CUDResourcesFoldersAction" viewPath="" redirectPath="" description="Update Folder"></action>
        <action name="deleteFolder" requestType="Delete" handlerTypeName="Layer2.IOServices.CUDResourcesFoldersAction" viewPath="" redirectPath="" description="Delete Folder"></action>

        <action name="getFiles" requestType="Get" handlerTypeName="Layer2.IOServices.GetResourcesFilesAction" viewPath="" redirectPath="" description="Get Files"></action>
        <action name="createFile" requestType="Post" handlerTypeName="Layer2.IOServices.CUDResourcesFilesAction" viewPath="" redirectPath="" description="Create File"></action>
        <action name="createWatermarkFile" requestType="Post" handlerTypeName="Layer2.IOServices.CUDResourcesWatermarkFilesAction" viewPath="" redirectPath="" description="Create Watermark File"></action>
        <action name="updateFile" requestType="Put" handlerTypeName="Layer2.IOServices.CUDResourcesFilesAction" viewPath="" redirectPath="" description="Update File"></action>
        <action name="deleteFile" requestType="Delete" handlerTypeName="Layer2.IOServices.CUDResourcesFilesAction" viewPath="" redirectPath="" description="Delete File"></action>

        <action name="getSystemStorageUsage" requestType="Get" handlerTypeName="Layer2.IOServices.GetSystemStorageUsageAction" viewPath="" redirectPath="" description="Get System Storage Usage"></action>
      </actions>
    </controller>
    <controller name="SettingsAPI" description="Settings API">
      <actions>
        <action name="getGeneralSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUGeneralSettingsAction" viewPath="" redirectPath="" description="Get General Settings"></action>
        <action name="getCustomSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUCustomSettingsAction" viewPath="" redirectPath="" description="Get Custom Settings"></action>
        <action name="updateGeneralSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUGeneralSettingsAction" viewPath="" redirectPath="" description="Update General Settings"></action>
        <action name="updateCustomSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUCustomSettingsAction" viewPath="" redirectPath="" description="Update Custom Settings"></action>
        <action name="getEmailSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUEmailSettingsAction" viewPath="" redirectPath="" description="Get Email Settings"></action>
        <action name="getSMSSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUSMSSettingsAction" viewPath="" redirectPath="" description="Get SMS Settings"></action>
        <action name="updateEmailSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUEmailSettingsAction" viewPath="" redirectPath="" description="Update Email Settings"></action>
        <action name="updateSMSSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUSMSSettingsAction" viewPath="" redirectPath="" description="Update SMS Settings"></action>
        <action name="getIdentitySettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUIdentitySettingsAction" viewPath="" redirectPath="" description="Get Identity Settings"></action>
        <action name="updateIdentitySettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUIdentitySettingsAction" viewPath="" redirectPath="" description="Update Identity Settings"></action>
        <action name="getAppearanceSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUAppearanceSettingsAction" viewPath="" redirectPath="" description="Get Appearance Settings"></action>
        <action name="updateAppearanceSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUAppearanceSettingsAction" viewPath="" redirectPath="" description="Update Appearance Settings"></action>
        <action name="getBackupSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUBackupSettingsAction" viewPath="" redirectPath="" description="Get Backup Settings"></action>
        <action name="updateBackupSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUBackupSettingsAction" viewPath="" redirectPath="" description="Update Backup Settings"></action>
        <action name="getDatabaseSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUDatabaseSettingsAction" viewPath="" redirectPath="" description="Get Database Settings"></action>
        <action name="updateDatabaseSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUDatabaseSettingsAction" viewPath="" redirectPath="" description="Update Database Settings"></action>
        <action name="getDateTimeSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUDateTimeSettingsAction" viewPath="" redirectPath="" description="Get Date Time Settings"></action>
        <action name="updateDateTimeSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUDateTimeSettingsAction" viewPath="" redirectPath="" description="Update Date Time Settings"></action>
        <action name="getLanguagesSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RULanguagesSettingsAction" viewPath="" redirectPath="" description="Get Languages Settings"></action>
        <action name="updateLanguagesSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RULanguagesSettingsAction" viewPath="" redirectPath="" description="Update Languages Settings"></action>
        <action name="getSecuritySettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUSecuritySettingsAction" viewPath="" redirectPath="" description="Get Security Settings"></action>
        <action name="updateSecuritySettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUSecuritySettingsAction" viewPath="" redirectPath="" description="Update Security Settings"></action>
        <action name="getNotificationsSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUNotificationsSettingsAction" viewPath="" redirectPath="" description="Get Notifications Settings"></action>
        <action name="updateNotificationsSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUNotificationsSettingsAction" viewPath="" redirectPath="" description="Update Notifications Settings"></action>
        <action name="getSystemInfoSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUSystemInfoSettingsAction" viewPath="" redirectPath="" description="Get System Info Settings"></action>
        <action name="updateSystemInfoSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUSystemInfoSettingsAction" viewPath="" redirectPath="" description="Update System Info Settings"></action>
        <action name="getSystemUpdateSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUSystemUpdateSettingsAction" viewPath="" redirectPath="" description="Get System Update Settings"></action>
        <action name="updateSystemUpdateSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUSystemUpdateSettingsAction" viewPath="" redirectPath="" description="Update System Update Settings"></action>
        <action name="getSupportSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RUSupportSettingsAction" viewPath="" redirectPath="" description="Get Support Settings"></action>
        <action name="updateSupportSettings" requestType="Put" handlerTypeName="Layer2.SettingsServices.RUSupportSettingsAction" viewPath="" redirectPath="" description="Update Support Settings"></action>
        <action name="getLogsSettings" requestType="Get" handlerTypeName="Layer2.SettingsServices.RLogsSettingsAction" viewPath="" redirectPath="" description="Get Log Files Settings"></action>
        <action name="getLogFile" requestType="Get" handlerTypeName="Layer2.SettingsServices.RLogFileAction" viewPath="" redirectPath="" description="Get Log File"></action>
      </actions>
    </controller>
    <controller name="ControllersViews" description="Controllers Views">
      <actions>
        <action name="Uploader" requestType="Get" handlerTypeName="" viewPath="/Partials/__Uploader.cshtml" redirectPath="" description="Uploader Controller View"></action>
      </actions>
    </controller>
  </controllers>
  <routes>
    <route key="accountRoutes" pattern="DConfig/Account/{action}/{id}">
      <defaults>
        <default key="controller" value="Account" optional="false"></default>
        <default key="action" value="Index" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="explorerRoutes" pattern="DConfig/Explorer/{action}/{id}">
      <defaults>
        <default key="controller" value="Explorer" optional="false"></default>
        <default key="action" value="Index" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="coreAPIRoutes" pattern="DConfig/CoreAPI/{action}/{id}">
      <defaults>
        <default key="controller" value="CoreAPI" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="appsAPIRoutes" pattern="DConfig/AppsAPI/{action}/{id}">
      <defaults>
        <default key="controller" value="AppsAPI" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="contentAPIRoutes" pattern="DConfig/WebsiteContentAPI/{action}/{id}">
      <defaults>
        <default key="controller" value="WebsiteContentAPI" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="formsAPIRoutes" pattern="DConfig/FormsAPI/{action}/{id}">
      <defaults>
        <default key="controller" value="FormsAPI" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="IOServicesAPIRoutes" pattern="DConfig/IOServicesAPI/{action}/{id}">
      <defaults>
        <default key="controller" value="IOServicesAPI" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="SettingsAPIRoutes" pattern="DConfig/SettingsAPI/{action}/{id}">
      <defaults>
        <default key="controller" value="SettingsAPI" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="ControllersViews" pattern="DConfig/ControllersViews/{action}">
      <defaults>
        <default key="controller" value="ControllersViews" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="dconfig" pattern="DConfig">
      <defaults>
        <default key="controller" value="Explorer" optional="false"></default>
        <default key="action" value="Index" optional="false"></default>
      </defaults>
    </route>
    <route key="dconfig2" pattern="c{cid}/DConfig">
      <defaults>
        <default key="controller" value="Explorer" optional="false"></default>
        <default key="action" value="Index" optional="false"></default>
        <default key="cid" value="" optional="true"></default>
      </defaults>
    </route>
  </routes>
</moduleConfig>
