<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig>
  <controllers>
    <controller name="FormsManager" description="Forms Manager App">
      <actions>
        <action name="formstree" requestType="Get" handlerTypeName="" viewPath="/FormsTree.cshtml" redirectPath="" description="Forms Tree Page"></action>
        <action name="predefinedLists" requestType="Get" handlerTypeName="" viewPath="/PredefinedLists.cshtml" redirectPath="" description="Predefined Lists Page"></action>
        <action name="formsSubmitEvents" requestType="Get" handlerTypeName="" viewPath="/FormsSubmitEvents.cshtml" redirectPath="" description="Forms Submit Events Page"></action>
        <action name="postedForms" requestType="Get" handlerTypeName="" viewPath="/PostedForms.cshtml" redirectPath="" description="Posted Forms Page"></action>

        <action name="SubmitForm" requestType="Get" handlerTypeName="Actions.GeneralFormSubmitAction" viewPath="" redirectPath="" description="Submit Form (Get)"></action>
        <action name="SubmitForm" requestType="Post" handlerTypeName="Actions.GeneralFormSubmitAction" viewPath="" redirectPath="" description="Submit Form"></action>

        
      </actions>
    </controller>
  </controllers>
  <routes>
    <route key="formsManager" pattern="DConfig/FormsManager/{action}/{id}">
      <defaults>
        <default key="controller" value="FormsManager" optional="false"></default>
        <default key="action" value="formstree" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
  </routes>
</moduleConfig>
