<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig initializer="">
  <controllers>
    <controller name="Gallery" description="Gallery App">
      <actions>        
        <action name="galleryIndex" requestType="Get" handlerTypeName="" viewPath="/GalleryIndex.cshtml" redirectPath="" description="Gallery Page"></action>
      </actions>
    </controller>
  </controllers>
  <routes>
    <route key="gallery" pattern="DConfig/Gallery/{action}/{id}">
      <defaults>
        <default key="controller" value="Gallery" optional="false"></default>
        <default key="action" value="galleryIndex" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
  </routes>
</moduleConfig>
