<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig>
  <controllers>
    <controller name="WebsiteManager" description="Website Manager App">
      <actions>
        <action name="contentstree" requestType="Get" handlerTypeName="" viewPath="/ContentsTree.cshtml" redirectPath="" description="Contents Page"></action>
        <action name="templatestree" requestType="Get" handlerTypeName="" viewPath="/TemplatesTree.cshtml" redirectPath="" description="Templates Page"></action>
        <action name="scriptstree" requestType="Get" handlerTypeName="" viewPath="/ScriptsTree.cshtml" redirectPath="" description="Scripts Page"></action>
        <action name="stagestree" requestType="Get" handlerTypeName="" viewPath="/StagesTree.cshtml" redirectPath="" description="Stages Page"></action>
        <action name="stylestree" requestType="Get" handlerTypeName="" viewPath="/StylesTree.cshtml" redirectPath="" description="Styles Page"></action>
        <action name="viewtypestree" requestType="Get" handlerTypeName="" viewPath="/ViewTypesTree.cshtml" redirectPath="" description="View Types Page"></action>
        <action name="predefinedLists" requestType="Get" handlerTypeName="" viewPath="/PredefinedLists.cshtml" redirectPath="" description="Predefined Lists Page"></action>
        <action name="quickcontent" requestType="Get" handlerTypeName="" viewPath="/Quick_Content.cshtml" redirectPath="" description="Quick Content Page"></action>

        
      </actions>
    </controller>
  </controllers>
  <routes>
    <route key="websiteManager" pattern="DConfig/WebsiteManager/{action}/{id}">
      <defaults>
        <default key="controller" value="WebsiteManager" optional="false"></default>
        <default key="action" value="contentstree" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
    <route key="websiteManager2" pattern="DConfig/WebsiteManager/{action}/{id}">
      <defaults>
        <default key="controller" value="WebsiteManager" optional="false"></default>
        <default key="action" value="contentstree" optional="false"></default>
        <default key="id" value="" optional="true"></default>
      </defaults>
    </route>
  </routes>
</moduleConfig>
