<div class="row">
    <div class="card card-outlined style-primary">
        <div class="appsContainer">
            <div class="app" data-ng-repeat="app in apps"><a data-ng-click="startApp(app.Name,app.StartPath)"><img data-ng-src="{{app.IconPath}}" />{{app.DisplayName}}</a></div>
        </div>
    </div>
</div>
