@*<div class="widgetsContainer">
    <div data-ng-repeat="widget in desktopWidgets" class="widget {{widget.WidgetClass}}">
        <div data-ng-controller="">
            <div data-ng-include=""></div>
        </div>
    </div>
</div>*@