<?xml version="1.0" encoding="utf-8" ?>
<moduleConfig initializer="MembershipInitializer">
  <controllers>
    <controller name="Membership" description="Membership App">
      <actions>
        <action name="UsersList" requestType="Get" handlerTypeName="" viewPath="/UsersList.cshtml" redirectPath="" description="Users List Page"></action>
        <action name="RolesList" requestType="Get" handlerTypeName="" viewPath="/RolesList.cshtml" redirectPath="" description="Roles List Page"></action>
        <action name="CompaniesList" requestType="Get" handlerTypeName="" viewPath="/CompaniesList.cshtml" redirectPath="" description="Companies List Page"></action>
        <action name="PagesPriviliges" requestType="Get" handlerTypeName="" viewPath="/PagesPriviliges.cshtml" redirectPath="" description="Pages Privileges Page"></action>
        <action name="Priviliges" requestType="Get" handlerTypeName="" viewPath="/Priviliges.cshtml" redirectPath="" description="Priviliges Page"></action>
        <action name="Settings" requestType="Get" handlerTypeName="" viewPath="/Settings.cshtml" redirectPath="" description="Settings Page"></action>
        <action name="PredefinedLists" requestType="Get" handlerTypeName="" viewPath="/PredefinedLists.cshtml" redirectPath="" description="Predefined Lists Page"></action>
        
        <action name="GetUsersFieldsValues" requestType="Get" handlerTypeName="Actions.RUUsersFieldsValuesAction" viewPath="" redirectPath="" description="Get Users Fields Values"></action>
        <action name="UpdateUsersFieldsValues" requestType="Put" handlerTypeName="Actions.RUUsersFieldsValuesAction" viewPath="" redirectPath="" description="Update Users Fields Values"></action>
        <action name="GetUsersFields" requestType="Get" handlerTypeName="Actions.GetUsersFieldsAction" viewPath="" redirectPath="" description="Get Users Fields"></action>
        <action name="UpdateUsersFields" requestType="Put" handlerTypeName="Actions.UDUsersFieldsAction" viewPath="" redirectPath="" description="Update Users Fields"></action>
        <action name="DeleteUserField" requestType="Delete" handlerTypeName="Actions.UDUsersFieldsAction" viewPath="" redirectPath="" description="Delete User Field"></action>
        
        <action name="GetSystemControllersTree" requestType="Get" handlerTypeName="Actions.GetSystemControllersTreeAction" viewPath="" redirectPath="" description="Get System Controllers Tree"></action>

        <action name="GetContentsTree" requestType="Get" handlerTypeName="Actions.GetContentsTreeAction" viewPath="" redirectPath="" description="Get Contents Tree"></action>
        
        <action name="getContentPrivileges" requestType="Get" handlerTypeName="Actions.GetContentPrivilegesAction" description="Get Content Privileges"></action>
        <action name="createContentPrivilege" requestType="Post" handlerTypeName="Actions.CUDContentPrivilegesAction" description="Create Content Privilege"></action>
        <action name="updateContentPrivilege" requestType="Put" handlerTypeName="Actions.CUDContentPrivilegesAction" description="Update Content Privilege"></action>
        <action name="deleteContentPrivilege" requestType="Delete" handlerTypeName="Actions.CUDContentPrivilegesAction" description="Delete Content Privilege"></action>
        <action name="addContentPrivilegeToRole" requestType="Put" handlerTypeName="Actions.UDContentPrivilegesRolesAction" description="Add Content Privilege To Role"></action>
        <action name="removeContentPrivilegeFromRole" requestType="Delete" handlerTypeName="Actions.UDContentPrivilegesRolesAction" description="Remove Content Privilege From Role"></action>
      
        <action name="WebsiteLogin" requestType="Post" handlerTypeName="Actions.CustomLoginAction" viewPath="" redirectPath="" description="Website Login"></action>
        <action name="WebsiteRegister" requestType="Post" handlerTypeName="Actions.CustomRegisterAction" viewPath="" redirectPath="" description="Website Register"></action>
        <action name="WebsiteLogin" requestType="Get" handlerTypeName="Actions.CustomLoginAction" viewPath="" redirectPath="" description="Website Login (Get)"></action>
        <action name="WebsiteRegister" requestType="Get" handlerTypeName="Actions.CustomRegisterAction" viewPath="" redirectPath="" description="Website Register (Get)"></action>
        <action name="WebsiteForgetPassword" requestType="Post" handlerTypeName="Actions.CustomForgetPasswordAction" viewPath="" redirectPath="" description="Website Forget Password"></action>
        <action name="WebsiteForgetPassword" requestType="Get" handlerTypeName="Actions.CustomForgetPasswordAction" viewPath="" redirectPath="" description="Website Forget Password (Get)"></action>
        <action name="WebsiteResetPassword" requestType="Post" handlerTypeName="Actions.CustomResetPasswordAction" viewPath="" redirectPath="" description="Website Reset Password"></action>
        <action name="WebsiteResetPassword" requestType="Get" handlerTypeName="Actions.CustomResetPasswordAction" viewPath="" redirectPath="" description="Website Rest Password (Get)"></action>
        
        <action name="getUserFieldTypes" requestType="Get" handlerTypeName="Actions.GetUserFieldTypesAction" viewPath="" redirectPath="" description="Get User Field Types"></action>
        
        <action name="getUserFieldEnumsTree" requestType="Get" handlerTypeName="Actions.GetUserFieldEnumsTreeAction" viewPath="" redirectPath="" description="Get User Field Enums Tree"></action>
        <action name="getUserFieldEnums" requestType="Get" handlerTypeName="Actions.GetUserFieldEnumsAction" viewPath="" redirectPath="" description="Get User Field Enums"></action>
        <action name="createUserFieldEnum" requestType="Post" handlerTypeName="Actions.CUDUserFieldEnumsAction" viewPath="" redirectPath="" description="Create User Field Enum"></action>
        <action name="updateUserFieldEnum" requestType="Put" handlerTypeName="Actions.CUDUserFieldEnumsAction" viewPath="" redirectPath="" description="Delete User Field Enum"></action>
        <action name="deleteUserFieldEnum" requestType="Delete" handlerTypeName="Actions.CUDUserFieldEnumsAction" viewPath="" redirectPath="" description="Delete User Field Enum"></action>
        <action name="updateUserFieldEnumValues" requestType="Put" handlerTypeName="Actions.UDUserFieldEnumValuesAction" viewPath="" redirectPath="" description="Update User Field Enum Values"></action>
        <action name="deleteUserFieldEnumValue" requestType="Delete" handlerTypeName="Actions.UDUserFieldEnumValuesAction" viewPath="" redirectPath="" description="Delete User Field Enum Value"></action>

        <action name="getCompanies" requestType="Get" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Get Companies"></action>
        <action name="createCompany" requestType="Post" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Create Company"></action>
        <action name="updateCompany" requestType="Put" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Update Company"></action>
        <action name="deleteCompany" requestType="Delete" handlerTypeName="Actions.CRUDCompaniesAction" viewPath="" redirectPath="" description="Delete Company"></action>
      </actions>
    </controller>
  </controllers>
</moduleConfig>
