<style type="text/css">
    .drop-box {
        width: 100%;
        height: 200px;
        padding: 75px 170px;
        border: 1px dashed #999;
        display: inline-block;
    }

    .uploadButton {
        margin-bottom: 30px;
    }

    #imageBrowser .file {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 140px;
    margin: 10px;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 112px;
    }
        #imageBrowser .file:hover {
    background-color:#ddd;
    }

        #imageBrowser .file img {
            max-width: 100px;
            max-height: 80px;
        }

        #imageBrowser .file .fileIcon {
            float: left;
            width: 100px;
            height: 80px;
        }

        #imageBrowser .file .fileCommands {
            height: 20px;
            position: absolute;
            right: -16px;
            text-align: center;
            top: -16px;
            width: 60px;
            font-size:17px;
        }

            #imageBrowser .file .fileCommands li {
                cursor: pointer;
            }

        #imageBrowser .file .fileName {
            float: left;
            width: 100%;
            text-align: center;
            font-size: 12px;
            word-wrap: break-word;
        }
         #imageBrowser .file .filesize{
             float: left;
            width: 100%;
            text-align: center;
            font-size: 10px;
            word-wrap: break-word;
         }
</style>
<div id="imageBrowser" data-ng-init="initialize()">
    <div class="modal-header">
        <h3 class="modal-title">Gallery Image Browser</h3>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td style="border-right: 1px solid #ccc;width:240px;vertical-align:top;padding:6px;overflow:auto;" data-ng-show="FoldersTreeEnabled==true">
                    <input type="text" name="foldersSearchBox" id="foldersSearchBox" placeholder="Search in Folders" />
                    <div id="foldersTree" style="height:360px;overflow:auto;">
                    </div>
                </td>
                <td style="vertical-align:top;">
                    <div style="text-align:right;margin-bottom:22px;">
                        <a style="margin:0 6px;" data-ng-class="{ active: state == DetailsPanelStates.ContentInstanceDetails }" data-ng-click="unselectAll()">Unselect all</a>
                        <a style="margin:0 6px;" data-ng-class="{ active: state == DetailsPanelStates.ContentInstanceDetails }" data-ng-click="deleteFile()"><i class="fa fa-times"></i> Remove Selected</a>
                        <a style="margin:0 6px;" data-ng-class="{ active: state == DetailsPanelStates.ContentInstanceDetails }" data-ng-click="uploadFile()"><i class="fa fa-plus"></i> Upload Files</a>
                    </div>
                    <div id="formsContainerContent">
                        <form novalidate class="form">
                            <div id="noneForm" class="detailsForm" data-ng-hide="state != DetailsPanelStates.None">
                            </div>
                            <div id="filesForm" class="detailsForm" data-ng-hide="state != DetailsPanelStates.FolderDetails">
                                <div data-ng-repeat="file in currentObj.Files" class="file">
                                    <div data-ng-click="ok(file.CDNPath,$index)">
                                        <div data-ng-switch="file.Type" class="fileIcon">
                                            <img src="{{file.Path}}" data-ng-switch-when=".jpg" />
                                            <img src="{{file.Path}}" data-ng-switch-when=".png" />
                                            <img src="{{file.Path}}" data-ng-switch-when=".gif" />
                                            <img src="{{file.Path}}" data-ng-switch-when=".jpeg" />
                                            <img src="{{file.Path}}" data-ng-switch-when="image/jpg" />
                                            <img src="{{file.Path}}" data-ng-switch-when="image/png" />
                                            <img src="{{file.Path}}" data-ng-switch-when="image/gif" />
                                            <img src="{{file.Path}}" data-ng-switch-when="image/jpeg" />
                                            <img src="~/Content/Apps/Gallery/pdf.png" data-ng-switch-when=".pdf" />
                                            <img src="~/Content/Apps/Gallery/file.png" data-ng-switch-default="" />
                                        </div>
                                        <div class="fileName">{{file.Name}}</div>
                                        <div class="filesize">{{(file.Length / 1024).toFixed(2)}} KB</div>
                                    </div>
                                    <div class="fileCommands">
                                        <a class="copy-link" aria-label="{{file.CDNPath}}"><i class="fa fa-link"></i></a>
                                        <div class="checkbox-inline checkbox-styled">
                                            <label>
                                                <input type="checkbox" checklist-model="Selected.SelectedImages" checklist-value="$index">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <script type="text/ng-template" id="galleryext_createForm.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Create New Folder</h3>
                            </div>
                            <div class="modal-body">
                                <form name="createForm.form" novalidate>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="name" data-ng-model="newNode.Name" value="" placeholder="Name" required data-ng-minlength="3" data-ng-maxlength="50" />
                                        <span class="error-container"
                                              ng-show="detialsForm.name.$dirty && detialsForm.name.$invalid">
                                            <small class="error"
                                                   ng-show="detialsForm.name.$error.required">
                                                Name is required.
                                            </small>
                                            <small class="error"
                                                   ng-show="detialsForm.name.$error.minlength">
                                                Name is required to be at least 3 characters
                                            </small>
                                            <small class="error"
                                                   ng-show="detialsForm.name.$error.maxlength">
                                                Name cannot be longer than 150 characters
                                            </small>
                                        </span>
                                        <label for="name">Name</label>
                                    </div>                            
                                </form>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-primary" ng-click="ok()" value="OK">
                                <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
                            </div>
                        </script>
                        <script type="text/ng-template" id="uploadForm.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Upload new files</h3>
                            </div>
                            <div class="modal-body">
                                <form name="createForm.form" novalidate>
                                    <input name="Path" type="hidden" value="{{newFile.Path}}" />
                                    <div class="textField">File</div>
                                    @*<div data-uploader="" data-destination-object="newFile" data-property-name="FilePath" data-action="/DConfig/IOServicesAPI/createFile" data-finish-handler="ok()"></div>*@

                                    <div ng-file-drop ng-model="newFile.Files" class="drop-box"
                                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                         data-multiple="true" data-allow-dir="true" data-accept="*">
                                        You can drop Images files here to upload them
                                    </div>
                                    <button class="uploadButton" data-ng-file-select data-ng-model="newFile.Files" data-multiple="true" class="btn btn-default">Or click here to browse and upload</button>
                                    <div data-ng-no-file-drop>File Farg/Drop is not supported for this browser</div>
                                    <progressbar animate="true" value="progress" type="success"></progressbar>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
                            </div>
                        </script>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" ng-click="chooseSelected()" value="Choose Selected" data-ng-show="MultipleImages==true">
        <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
    </div>
</div>