<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <br />
            <span class="text-lg text-bold text-primary">DCONFIG RESET PASSWORD</span>
            <br /><br />
            <form class="form" novalidate="novalidate">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" data-ng-model="user.password">
                    <label for="password">Password</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" data-ng-model="user.confirmPassword">
                    <label for="confirmPassword">Confirm password</label>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-6 text-left">
                    </div><!--end .col -->
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-default btn-raised" data-ng-click="backToLogin()">Return back</button>
                        <button class="btn btn-primary btn-raised" type="submit" data-ng-click="doResetPassword()">Reset my password</button>
                    </div><!--end .col -->
                </div><!--end .row -->
            </form>
        </div>
    </div>
</div>
