@using WebsiteManager.Properties
@{
    Layout = "~/Views/AppsViews/WebsiteManager/_WebsiteManagerLayout.cshtml";
}
@section SearchListTopMenu{
    <input type="text" name="templatesSearchBox" id="templatesSearchBox" />
    <a data-ng-click="createRootNode()"><i class="fa fa-plus"></i> Add Template</a>
}
@section DetailsTopMenu{
    <ul data-ng-hide="state == DetailsPanelStates.None || currentObj.IsContainer">
        <li><a data-ng-class="{ active: state == DetailsPanelStates.TemplateCode }" data-ng-click="displayCode()">Code</a></li>
        <li><a data-ng-class="{ active: state == DetailsPanelStates.TemplateDetails }" data-ng-click="displayGeneralDetails()">General</a></li>
    </ul>
}
@section SearchList{
    <div id="templatesTreeContainer">
    </div>
}
@section Details{
    <div id="formsContainerContent">
        <div id="detailsForm" class="detailsForm" data-ng-hide="state != DetailsPanelStates.TemplateDetails">
            <div class="modal-header">
                <h3 class="modal-title">Template <span data-ng-hide="!currentObj.IsContainer">Container</span> Details</h3>
            </div>
            <div class="modal-body">
                <form name="detailsForm" class="form" novalidate>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" data-ng-model="currentObj.Name" value="" placeholder="Name" required data-ng-minlength="3" data-ng-maxlength="50" />
                                <span class="error-container"
                                      ng-show="detailsForm.name.$dirty && detailsForm.name.$invalid">
                                    <small class="error"
                                           ng-show="detailsForm.name.$error.required">
                                        Name is required.
                                    </small>
                                    <small class="error"
                                           ng-show="detailsForm.name.$error.minlength">
                                        Name is required to be at least 3 characters
                                    </small>
                                    <small class="error"
                                           ng-show="detailsForm.name.$error.maxlength">
                                        Name cannot be longer than 50 characters
                                    </small>
                                </span>
                                <label for="name">Name</label>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="id" data-ng-model="currentObj.Id" readonly="readonly" />
                                <label for="id">ID</label>
                            </div>
                            <div data-ng-hide="currentObj.IsContainer">
                                <div class="form-group">
                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            <input name="online" type="checkbox" data-ng-model="currentObj.IsActive" value="" />
                                            <span>Online</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="type" data-ng-model="currentObj.ViewTypeId" ng-options="v.Id as v.Name for v in viewTypes">
                                        <option value=""></option>
                                    </select>
                                    <label for="type">Type</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="publicViewsPackage" type="text" data-ng-model="currentObj.PublicViewsPackage.Name" value="" readonly="readonly" />
                                    <label for="publicViewsPackage">Public Views Package</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Update" class="btn btn-primary" data-ng-click="saveChanges()" />
                <input type="button" value="Cancel" class="btn btn-default" data-ng-click="closeDetailsForm()" />
            </div>
        </div>
        <div id="codeForm" class="detailsForm" data-ng-hide="state != DetailsPanelStates.TemplateCode">
            <!--<div class="modal-header">
                <h3 class="modal-title">Template Code</h3>
            </div>-->
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                            <div class="btn-group">
                                <button aria-expanded="false" type="button" class="btn ink-reaction btn-raised btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Insert Snippet <i class="fa fa-caret-down text-default-light"></i>
                                </button>
                                <ul class="dropdown-menu animation-dock" role="menu">
                                    <li><a data-ng-click="addChildRenderPlace()">Child rendering place</a></li>
                                    <li><a data-ng-click="addMetaTagsRenderPlace()">Meta tags</a></li>
                                    <li><a data-ng-click="addReCapatchaScript()">ReCaptcha script</a></li>
                                    <li><a data-ng-click="renderViewTypeField()">View type field</a></li>
                                    <li><a data-ng-click="addPartialView()">Partial view</a></li>
                                    <li><a data-ng-click="addScript()">Script</a></li>
                                    <li><a data-ng-click="addStyleSheet()">Style sheet</a></li>
                                    <li><a data-ng-click="addScriptBundle()">Script bundle</a></li>
                                    <li><a data-ng-click="addStyleBundle()">Style sheet bundle</a></li>
                                    <li><a data-ng-click="addForm()">Form</a></li>
                                    <li><a data-ng-click="addReCapatchaScriptChecker()">Form ReCaptcha script</a></li>
                                    <li><a data-ng-click="addReCapatchaInput()">ReCaptcha input</a></li>
                                    <li class="divider"></li>
                                    <li><a data-ng-click="addAdminScripts()">Enable live editing</a></li>
                                </ul>
                            </div>
                        </div>
                        <pre id="codeTextArea" class="codeEditor">
                </pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Update" class="btn btn-primary" data-ng-click="saveCode()" />
                    <input type="button" value="Cancel" class="btn btn-default" data-ng-click="closeDetailsForm()" />
                </div>
            </div>
            <div id="noneForm" class="detailsForm" data-ng-hide="state != DetailsPanelStates.None">
                <div class="modal-header" style="text-align:center;">
                    <h3 class="modal-title">Templates</h3>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <a data-ng-click="createRootNode()">Create New Template</a>
                </div>
                @*<div class="modal-footer">
                        <input type="button" value="Update" class="btn btn-primary" data-ng-click="saveChanges()" />
                        <input type="button" value="Cancel" class="btn btn-default" data-ng-click="closeDetailsForm()" />
                    </div>*@
            </div>
        </div>
        <div>
            <script type="text/ng-template" id="createForm.html">
                <div class="modal-header">
                    <h3 class="modal-title">Create New Template</h3>
                </div>
                <div class="modal-body">
                    <form name="createForm.form" class="form" novalidate>
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" data-ng-model="newNode.Name" value="" placeholder="Name" required data-ng-minlength="3" data-ng-maxlength="50" />
                            <span class="error-container"
                                  ng-show="createForm.form.name.$dirty && createForm.form.name.$invalid">
                                <small class="error"
                                       ng-show="createForm.form.name.$error.required">
                                    Name is required.
                                </small>
                                <small class="error"
                                       ng-show="createForm.form.name.$error.minlength">
                                    Name is required to be at least 3 characters
                                </small>
                                <small class="error"
                                       ng-show="createForm.form.name.$error.maxlength">
                                    Name cannot be longer than 50 characters
                                </small>
                            </span>
                            <label for="name">Name</label>
                        </div>
                        <div class="form-group">
                            <select class="form-control" data-ng-model="newNode.IsContainer" name="type" ng-options="nt.Value as nt.Name for nt in NodeTypes" required></select>
                            <span class="error-container"
                                  ng-show="createForm.form.type.$dirty && createForm.form.type.$invalid">
                                <small class="error"
                                       ng-show="createForm.form.type.$error.required">
                                    Node type is required.
                                </small>
                            </span>
                            <label for="type">Type of node</label>
                        </div>
                        <div data-ng-show="!newNode.IsContainer">
                            <div class="form-group">
                                <select class="form-control" name="type" data-ng-model="newNode.ViewTypeId" ng-options="v.Id as v.Name for v in viewTypes">
                                    <option value=""></option>
                                </select>
                                <label for="type">Type</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" ng-click="ok()" value="OK">
                    <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
                </div>
            </script>
            <script type="text/ng-template" id="cloneForm.html">
                <div class="modal-header">
                    <h3 class="modal-title">Clone Template</h3>
                </div>
                <div class="modal-body">
                    <form name="createForm.form" class="form" novalidate>
                        <div class="form-group">
                            <input class="form-control" type="text" name="suffix" data-ng-model="newNode.Suffix" value="" placeholder="Suffix" required data-ng-maxlength="50" />
                            <span class="error-container"
                                  ng-show="createForm.form.name.$dirty && createForm.form.name.$invalid">
                                <small class="error"
                                       ng-show="createForm.form.name.$error.required">
                                    Suffix is required.
                                </small>
                                <small class="error"
                                       ng-show="createForm.form.name.$error.maxlength">
                                    Suffix cannot be longer than 50 characters
                                </small>
                            </span>
                            <label for="suffix">Suffix</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" ng-click="ok()" value="OK">
                    <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
                </div>
            </script>
            <script type="text/ng-template" id="ItemsSelector.html">
                <div class="modal-header">
                    <h3 class="modal-title">Inserting new tag</h3>
                </div>
                <div class="modal-body">
                    <form name="itemsSelector.form" class="form" novalidate>
                        <div class="form-group">
                            <select class="form-control" data-ng-model="container.obj" name="item" ng-options="v as v.Name for v in items"></select>
                            <label for="item">Please choose the resource you want to add:</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" ng-click="ok()" value="OK">
                    <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
                </div>
            </script>
        </div>
}
